* {
  margin: 0
}

.app {
  height: 100vh;
  width: auto;
}

.app_gameScreen {
  display: flex;
  position: relative;
  /* text-align: center; */
  margin-top: 50px;
  /* z-index: -100; */
  /* top: 0;
  left: 0; */
}

.app_background {
  /* position: absolute; */
  width: 1000px;
  /* height: 100%; */
  /* padding: 100px auto; */
  object-fit: contain;
  border-radius: 20px;
  margin: 0 auto;
}

.app_pokemon {
  position: absolute;
  top: 200px;
  left: 35%;
  /* text-align: center; */
  z-index: 1;
  /* filter: brightness(0) */
}

.is-dark {
  filter: brightness(0)
}