* {
  margin: 0;
}

.app {
  height: 100vh;
  width: auto;
  background-color: black;
}

.app_gameScreen {
  display: flex;
  position: relative;
  /* text-align: center; */
  padding-top: 50px;
  margin-left: 20px;
  /* z-index: -100; */
  /* top: 0;
  left: 0; */
}

.app_background {
  /* position: absolute; */
  width: 1000px;
  /* height: 100%; */
  /* padding: 100px auto; */
  /* object-fit: contain; */
  border-radius: 20px;
  margin: 0 auto;
}

.app_pokemon {
  position: absolute;
  top: 250px;
  left: 180px;
  width: 220px;
  height: auto;
  /* text-align: center; */
  /* z-index: 1; */
  /* filter: brightness(0) */
}

.is-dark {
  filter: brightness(0);
}

.app_gameInfo {
  display: flex;
  flex-flow: column;
  margin-left: 5vw;
  font-size: 3vw;
  color: yellow;
}

.app_input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}

.app_input > button {
  margin-left: 10px;
}

.app_input > label {
  color: white;
  /* margin-right: 10px; */
}

.app_input > input {
  margin-left: 10px;
}

.app_input > form > button {
  display: none;
}
